@font-face {
  font-family: "iconfont"; /* Project id 1836843 */
  src: url('iconfont.woff2?t=1672667107610') format('woff2'),
       url('iconfont.woff?t=1672667107610') format('woff'),
       url('iconfont.ttf?t=1672667107610') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e75b";
}

.icon-usercenter:before {
  content: "\e773";
}

.icon-arrow-lift:before {
  content: "\e743";
}

.icon-ascending:before {
  content: "\e744";
}

.icon-atm-away:before {
  content: "\e745";
}

.icon-close:before {
  content: "\e747";
}

